@font-face {
    font-family: 'MyFont';
    src:  url('./SourceCodePro-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
  }
.big_body{
    width: 100%;
}
.hello {
    color:blue;
    font-family: 'MyFont';
  }
  .bg_image{
    background: url('./icon.jpg');
    background-repeat: no-repeat;
    box-sizing: content-box;
    size: 200em;
  }